@namespace EventHighway.Portal.Web.Components.CoreUI

<button type="@Type"
        class="btn @($"btn-{Color}") @CssClass"
        disabled="@Disabled"
        @onclick="OnClick">
    @ChildContent
</button>
