@namespace EventHighway.Portal.Web.Components.CoreUI

<div class="mb-3">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="form-label">@Label</label>
    }
    <input type="date"
           class="form-control"
           value="@FormattedValue"
           @onchange="OnChangeAsync" />
</div>
