@namespace EventHighway.Portal.Web.Components.Dashboard
@using System.Linq
@using EventHighway.Portal.Web.Components.CoreUI
@using EventHighway.Portal.Web.Models.Views.HealthDashboards

@if (State == RagTileRowState.Loading)
{
    <Spinner />
}
else if (State == RagTileRowState.Content)
{
    @foreach (IGrouping<string, HealthRagTile> group in Tiles.GroupBy(tile => tile.Grouping))
    {
        <h6 class="rag-group-title text-body-secondary text-uppercase small fw-semibold mt-4 mb-2">
            @group.Key
        </h6>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-3">
            @foreach (HealthRagTile tile in group)
            {
                <div class="col">
                    <StatTile Variant="tile.Variant"
                              Value="@tile.Value"
                              Label="@tile.Label" />
                </div>
            }
        </div>
    }
}
else if (State == RagTileRowState.Error)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
