@namespace EventHighway.Portal.Web.Components.Dashboard
@using EventHighway.Portal.Web.Components.CoreUI
@using EventHighway.Portal.Web.Models.Views.HealthDashboards

@if (State == RagTileRowState.Loading)
{
    <Spinner />
}
else if (State == RagTileRowState.Content)
{
    <div class="row g-3 mb-4">
        @foreach (HealthRagTile tile in Tiles)
        {
            <div class="col-sm-6 col-lg-3">
                <StatTile Variant="tile.Variant"
                          Value="@tile.Value"
                          Label="@tile.Label" />
            </div>
        }
    </div>
}
else if (State == RagTileRowState.Error)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
