@namespace EventHighway.Portal.Web.Components.Layout

<footer class="footer px-4">
    <div><span>EventHighway</span> &copy; @DateTime.UtcNow.Year</div>
    <div class="ms-auto">Operations Portal</div>
</footer>
