@namespace EventHighway.Portal.Web.Components.Layout

<header class="header header-sticky mb-4 p-0 border-bottom">
    <div class="container-fluid border-bottom px-4">
        <button class="header-toggler" type="button"
                onclick="document.getElementById('sidebar')?.classList.toggle('hide')">
            <i class="cil-menu"></i>
        </button>

        <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><span class="nav-link">EventHighway Operations Portal</span></li>
        </ul>

        <ul class="header-nav ms-auto">
            <li class="nav-item">
                <AuthorizeView>
                    <Authorized>
                        <span class="nav-link">@context.User.Identity?.Name</span>
                    </Authorized>
                    <NotAuthorized>
                        <a class="nav-link" href="Identity/Account/Login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </li>
        </ul>
    </div>
</header>
