@namespace EventHighway.Portal.Web.Components.Layout

<header class="header header-sticky mb-4 p-0 border-bottom">
    <div class="container-fluid border-bottom px-4">
        <button class="header-toggler" type="button"
                onclick="document.getElementById('sidebar')?.classList.toggle('hide')">
            <i class="cil-menu"></i>
        </button>

        <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><span class="nav-link">EventHighway Operations Portal</span></li>
        </ul>

        <ul class="header-nav ms-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-coreui-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <i class="cil-user me-1"></i>@context.User.Identity?.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="Account/Manage">Profile</a></li>
                            <li><a class="dropdown-item" href="Account/Manage/ChangePassword">Change Password</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="" />
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <a class="nav-link" href="Account/Login">Login</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</header>
